BASE_API_URL="https://api.frankfurter.dev/v1"
API_URL_LATEST="/latest"
API_URL_CURRENCIES="/currencies"
CACHE_FILE_PATH="./cache.json"
USER_SETTINGS_PATH="./settings.json"
LOG_FILE_PATH="./app.log"
LOGIN_USERNAME="admin"
LOGIN_PASSWORD="password123"
AUTH_TOKEN="super-secret-token-123"